<!-- app>templates>task.html -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Form</title>
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
</head>
<body>
    <form action="{% url 'task' %}" method="post">
        {% csrf_token %}
        <label for="name">Task Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="date_time">Date and Time:</label>
        <input type="datetime-local" id="date_time" name="date_time"><br><br>
        <label for="assigned_to">Assigned To:</label>
        <input type="text" id="assigned_to" name="assigned_to"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
